@keyframes moveUp {
  0% {
    transform: translateY(10rem);
    opacity: 0; }
  100% {
    transform: translateY(0);
    opacity: 1; } }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.u-color-black {
  color: #111111 !important; }

.u-color-white {
  color: #f5f5f5 !important; }

.u-color-primary {
  color: #00539f !important; }

.u-color-primary-light {
  color: #006ed2 !important; }

.u-color-primary-dark {
  color: #00386c !important; }

.u-color-secondary {
  color: #0095dd !important; }

.u-color-secondary-light {
  color: #11b1ff !important; }

.u-color-secondary-dark {
  color: #0073aa !important; }

.u-color-tertiary {
  color: #002147 !important; }

.u-color-tertiary-light {
  color: #00397a !important; }

.u-color-tertiary-dark {
  color: #000914 !important; }

.u-bg-color-black {
  background-color: #111111 !important; }

.u-bg-color-white {
  background-color: #f5f5f5 !important; }

.u-bg-color-primary {
  background-color: #00539f !important; }

.u-bg-color-primary-light {
  background-color: #006ed2 !important; }

.u-bg-color-primary-dark {
  background-color: #00386c !important; }

.u-bg-color-secondary {
  background-color: #0095dd !important; }

.u-bg-color-secondary-light {
  background-color: #11b1ff !important; }

.u-bg-color-secondary-dark {
  background-color: #0073aa !important; }

.u-bg-color-tertiary {
  background-color: #002147 !important; }

.u-bg-color-tertiary-light {
  background-color: #00397a !important; }

.u-bg-color-tertiary-dark {
  background-color: #000914 !important; }

.u-margin-bottom-xs {
  margin-bottom: 0.5rem !important; }

.u-margin-bottom-s {
  margin-bottom: 1rem !important; }

.u-margin-bottom-m {
  margin-bottom: 2rem !important; }

.u-margin-bottom-l {
  margin-bottom: 3rem !important; }

.u-margin-bottom-xl {
  margin-bottom: 4rem !important; }

.u-margin-bottom-xxl {
  margin-bottom: 5rem !important; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  padding: 1rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 400;
  line-height: 1.2rem;
  color: #1b1e1d; }
  @media only screen and (max-width: 450px) {
    body {
      padding: 0; } }

.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: linear-gradient(to right, #00539fcc, #00539fcc), url("./img/profile-pic-large.jpg");
  background-size: cover;
  background-position: center;
  height: 75vh;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  color: #f5f5f5; }
  @media only screen and (max-width: 1100px) {
    .header {
      flex-direction: column;
      justify-content: center; } }
  @media only screen and (max-width: 750px) {
    .header {
      height: 110vh;
      background: linear-gradient(to right, #00539fcc, #00539fcc), url("./img/profile-pic-medium.jpg");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat; } }
  @media only screen and (max-width: 450px) {
    .header {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      background: #00539f;
      height: 9rem;
      justify-content: center; } }
  .header__title {
    font-family: 'Satisfy', cursive;
    transform: skewY(-7deg);
    font-weight: 200;
    font-size: 10rem;
    width: minmax(100vw, 50rem);
    letter-spacing: 0.2rem;
    display: block;
    animation: fadeIn 0.5s linear backwards; }
    @media only screen and (max-width: 1100px) {
      .header__title {
        margin: 0 auto 10rem; } }
    @media only screen and (max-width: 550px) {
      .header__title {
        font-size: 8rem; } }
    @media only screen and (max-width: 450px) {
      .header__title {
        transform: skewY(0deg);
        font-size: 5rem;
        margin: 25px; } }
    @media only screen and (max-width: 310px) {
      .header__title {
        margin: 25px 0;
        font-size: 4rem; } }
  .header__subtitle {
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    text-transform: uppercase;
    font-size: 2rem;
    letter-spacing: 1rem;
    animation: moveUp 1s ease-out 0.5s backwards; }
    @media only screen and (max-width: 750px) {
      .header__subtitle {
        margin-bottom: 10rem; } }
    @media only screen and (max-width: 450px) {
      .header__subtitle {
        font-size: 1.5rem;
        margin-bottom: 0; } }
    @media only screen and (max-width: 310px) {
      .header__subtitle {
        letter-spacing: 0.7rem; } }

.header-small {
  margin-bottom: 4.5rem; }
  @media only screen and (max-width: 800px) {
    .header-small {
      margin-bottom: 3rem; } }
  .header-small__title {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    height: 15rem;
    color: #f5f5f5;
    background-color: #00539f;
    font-size: 5rem; }
    @media only screen and (max-width: 800px) {
      .header-small__title {
        font-size: 4.5rem; } }
    @media only screen and (max-width: 700px) {
      .header-small__title {
        font-size: 4rem; } }
    @media only screen and (max-width: 600px) {
      .header-small__title {
        font-size: 3.5rem; } }
    @media only screen and (max-width: 660px) {
      .header-small__title {
        height: 13rem; } }
    @media only screen and (max-width: 500px) {
      .header-small__title {
        padding: 2rem;
        text-align: center;
        line-height: 4rem; } }
  .header-small__navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #00386c; }
    .header-small__navigation a:link, .header-small__navigation a:active, .header-small__navigation a:visited {
      padding: 15px 2rem;
      text-decoration: none;
      text-transform: lowercase;
      font-size: 2rem;
      color: #f5f5f5;
      transition: all 0.2s; }
    .header-small__navigation a:hover {
      background-color: #00539f; }

.footer {
  font-size: 1.8rem;
  text-align: center;
  background-color: #4d5251;
  height: 45rem;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding-top: 17rem;
  display: flex;
  justify-content: center;
  align-items: center; }
  @media only screen and (max-width: 1100px) {
    .footer {
      height: 35rem;
      padding-top: 15rem; } }
  @media only screen and (max-width: 550px) {
    .footer {
      height: 33rem; } }
  @media only screen and (max-width: 450px) {
    .footer {
      min-height: 16rem;
      padding: 2rem;
      line-height: 2.2rem; } }
  @media only screen and (max-width: 360px) {
    .footer {
      padding: 0; } }
  @media only screen and (max-width: 300px) {
    .footer {
      font-size: 1.5rem; } }
  .footer-layout {
    height: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center; }
    @media only screen and (max-width: 550px) {
      .footer-layout {
        height: auto; } }
  .footer__contact-info {
    margin-bottom: 4rem; }
    @media only screen and (max-width: 550px) {
      .footer__contact-info {
        margin-bottom: 3rem; } }
    @media only screen and (max-width: 450px) {
      .footer__contact-info {
        margin-bottom: 0; } }
  .footer__copyright {
    letter-spacing: 0.1rem;
    word-spacing: 0.1rem;
    color: #f5f5f580;
    line-height: 2rem; }
  .footer__email:link, .footer__email:visited {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    color: #0095dd;
    letter-spacing: 0.2rem; }
    @media only screen and (max-width: 550px) {
      .footer__email:link, .footer__email:visited {
        margin-bottom: 2rem; } }
    @media only screen and (max-width: 300px) {
      .footer__email:link, .footer__email:visited {
        font-size: 1.6rem;
        margin-bottom: 3rem; } }

.footer-small {
  font-size: 1.8rem;
  text-align: center;
  background-color: #555;
  height: 25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px; }

.btn-main {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20vw;
  min-width: 20rem;
  height: 20vw;
  min-height: 20rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-decoration: none;
  transition: all 0.2s linear; }
  @media only screen and (max-width: 360px) {
    .btn-main {
      min-height: 15rem;
      min-width: 15rem; } }
  @media only screen and (max-width: 300px) {
    .btn-main {
      min-height: 12rem;
      min-width: 12rem; } }
  .btn-main:hover {
    transform: translateY(-3px);
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.4); }
  .btn-main__text {
    line-height: 4rem;
    text-align: center;
    font-size: 4rem;
    font-weight: 700; }
    @media only screen and (max-width: 1100px) {
      .btn-main__text {
        font-size: 3rem; } }
    @media only screen and (max-width: 360px) {
      .btn-main__text {
        font-size: 2.5rem;
        line-height: 3rem; } }
    @media only screen and (max-width: 300px) {
      .btn-main__text {
        font-size: 2rem;
        line-height: 2.5rem; } }
  .btn-main--1 {
    background-color: #0095dd; }
  .btn-main--2 {
    background-color: #00539f; }
  .btn-main--3 {
    background-color: #002147; }

.tag-pill {
  display: flex;
  align-items: center;
  text-align: center;
  border: none;
  border-radius: 100px;
  margin: 0 0.5rem;
  background-color: #f5f5f5;
  padding: 1rem;
  text-decoration: none;
  font-size: 1.5rem;
  color: #00539fcc;
  transition: all 0.2s; }
  @media only screen and (max-width: 341px) {
    .tag-pill {
      font-size: 1.5rem; } }
  .tag-pill:hover {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transform: translateY(-1px); }
  .tag-pill:active {
    box-shadow: none;
    transform: translateY(0); }

.btn-frame {
  --offset: 10px;
  --border-size: 2px;
  display: block;
  width: 50rem;
  position: relative;
  padding: 1.5em 1em;
  appearance: none;
  border: 0;
  background: transparent;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: .25em;
  outline: none;
  cursor: pointer;
  font-size: 3.5rem;
  font-weight: bold;
  border-radius: 0;
  box-shadow: inset 0 0 0 var(--border-size) currentcolor;
  transition: background .8s ease; }
  .btn-frame:not(:last-child) {
    margin-bottom: 8rem; }
  .btn-frame--1 {
    color: #00539f; }
  .btn-frame--2 {
    color: #0095dd; }
  .btn-frame--3 {
    color: #002147; }
  .btn-frame:hover {
    background: rgba(100, 0, 0, 0.03); }
  .btn-frame__horizontal, .btn-frame__vertical {
    position: absolute;
    top: var(--horizontal-offset, 0);
    right: var(--vertical-offset, 0);
    bottom: var(--horizontal-offset, 0);
    left: var(--vertical-offset, 0);
    transition: transform .8s ease;
    will-change: transform; }
    .btn-frame__horizontal::before, .btn-frame__vertical::before {
      content: '';
      position: absolute;
      border: inherit; }
  .btn-frame__horizontal {
    --vertical-offset: calc(var(--offset) * -1);
    border-top: var(--border-size) solid currentColor;
    border-bottom: var(--border-size) solid currentColor; }
    .btn-frame__horizontal::before {
      top: calc(var(--vertical-offset) - var(--border-size));
      bottom: calc(var(--vertical-offset) - var(--border-size));
      left: calc(var(--vertical-offset) * -1);
      right: calc(var(--vertical-offset) * -1); }
  .btn-frame:hover .btn-frame__horizontal {
    transform: scaleX(0); }
  .btn-frame__vertical {
    --horizontal-offset: calc(var(--offset) * -1);
    border-left: var(--border-size) solid currentcolor;
    border-right: var(--border-size) solid currentcolor; }
    .btn-frame__vertical::before {
      top: calc(var(--horizontal-offset) * -1);
      bottom: calc(var(--horizontal-offset) * -1);
      left: calc(var(--horizontal-offset) - var(--border-size));
      right: calc(var(--horizontal-offset) - var(--border-size)); }
  .btn-frame:hover .btn-frame__vertical {
    transform: scaleY(0); }
  @media only screen and (max-width: 940px) {
    .btn-frame {
      width: 40rem;
      font-size: 3rem; } }
  @media only screen and (max-width: 800px) {
    .btn-frame {
      width: 35rem;
      font-size: 2.5rem; } }
  @media only screen and (max-width: 700px) {
    .btn-frame {
      width: 30rem;
      font-size: 2rem; } }
  @media only screen and (max-width: 400px) {
    .btn-frame {
      width: 25rem; } }
  @media only screen and (max-width: 330px) {
    .btn-frame {
      width: 20rem;
      font-size: 1.5rem; } }

.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 52rem;
  width: 40rem; }
  .card__side {
    height: 52rem;
    transition: all .8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba(17, 17, 17, 0.15); }
    @media only screen and (max-width: 400px) {
      .card__side {
        border-radius: 0px; } }
    .card__side--front {
      background-color: #f5f5f5; }
    .card__side--back {
      transform: rotateY(-180deg);
      display: flex;
      justify-content: center; }
      .card__side--back-1 {
        background-color: #11b1ff; }
      .card__side--back-2 {
        background-color: #006ed2; }
      .card__side--back-3 {
        background-color: #00397a; }
      .card__side--back-4 {
        background-color: #0095dd; }
      .card__side--back-5 {
        background-color: #00539f; }
      .card__side--back-6 {
        background-color: #002147; }
      .card__side--back-7 {
        background-color: #0073aa; }
      .card__side--back-8 {
        background-color: #00386c; }
      .card__side--back-9 {
        background-color: #000914; }
  .card:hover .card__side--front {
    transform: rotateY(180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0deg); }
  .card__picture {
    background-size: cover;
    height: 23rem;
    background-blend-mode: screen;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px; }
    @media only screen and (max-width: 400px) {
      .card__picture {
        border-radius: 0px; } }
    .card__picture--1 {
      background-image: linear-gradient(#0073aa, #0073aa), url(../../img/blog-pic.jpg); }
    .card__picture--argentours {
      background-image: linear-gradient(#00386c, #00386c), url(../../img/argentours-screenshot.png); }
    .card__picture--grandpalace {
      background-image: linear-gradient(#00386c, #00386c), url(../../img/grandpalace-screenshot.png); }
    .card__picture--2 {
      background-image: linear-gradient(#00386c, #00386c), url(../../img/massage-pic.jpg); }
    .card__picture--3 {
      background-image: linear-gradient(#00397a, #00397a), url(../../img/friends-pic.jpg); }
    .card__picture--4 {
      background-image: linear-gradient(#0073aa, #0073aa); }
    .card__picture--5 {
      background-image: linear-gradient(#00386c, #00386c); }
    .card__picture--6 {
      background-image: linear-gradient(#00397a, #00397a); }
    .card__picture--7 {
      background-image: linear-gradient(#0073aa, #0073aa); }
    .card__picture--8 {
      background-image: linear-gradient(#00386c, #00386c); }
    .card__picture--9 {
      background-image: linear-gradient(#00397a, #00397a); }
  .card__heading {
    font-size: 2.8rem;
    font-weight: 300;
    line-height: 3.5rem;
    text-transform: uppercase;
    text-align: right;
    color: #f5f5f5;
    position: absolute;
    top: 10rem;
    right: 2rem;
    width: 75%; }
  .card__heading-span {
    padding: 1rem 1.5rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone; }
    .card__heading-span--1 {
      background-color: #11b1ff; }
    .card__heading-span--2 {
      background-color: #006ed2; }
    .card__heading-span--3 {
      background-color: #00397a; }
    .card__heading-span-4 {
      background-color: #0095dd; }
    .card__heading-span-5 {
      background-color: #00539f; }
    .card__heading-span-6 {
      background-color: #002147; }
    .card__heading-span-7 {
      background-color: #0073aa; }
    .card__heading-span-8 {
      background-color: #00386c; }
    .card__heading-span-9 {
      background-color: #000914; }
  .card__details {
    padding: 3rem; }
    .card__details p {
      width: 80%;
      margin: 0 auto;
      font-size: 2rem;
      line-height: 2rem; }
  .card__cta {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    width: 90%; }
    .card__cta ul {
      list-style: none;
      width: 80%;
      margin: 2rem auto 0; }
      .card__cta ul li {
        text-align: center;
        font-size: 2rem;
        color: #f5f5f5;
        padding: 1rem;
        line-height: 2.5rem; }
        .card__cta ul li:not(:last-child) {
          border-bottom: 1px solid #f5f5f5; }
    @media only screen and (max-width: 360px) {
      .card__cta {
        border-bottom: 2px solid #111111; } }
  .card__btn-box {
    display: flex;
    margin: auto 0 2rem; }
    .card__btn-box > * {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 1.5rem;
      font-size: 2.5rem;
      cursor: pointer;
      text-transform: lowercase;
      text-decoration: none;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
      transition: all 0.2s; }
      .card__btn-box > *:hover {
        transform: translateY(-1px);
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); }
      .card__btn-box > *:first-child {
        width: 100%;
        height: 100%;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px; }
      .card__btn-box > *:last-child {
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px; }
    @media only screen and (max-width: 360px) {
      .card__btn-box {
        margin: auto 2rem 2rem 2rem; } }
  .card__btn-website {
    background-color: #f5f5f5;
    color: #111111; }
  .card__btn-code {
    background-color: #111111;
    color: #f5f5f5; }
  @media only screen and (hover: none) {
    .card {
      height: auto;
      border-radius: 3px;
      background-color: #f5f5f5;
      box-shadow: 0 1.5rem 4rem rgba(17, 17, 17, 0.15); }
      .card__side {
        position: relative;
        box-shadow: none; }
        .card__side--back {
          transform: rotateY(0);
          border-top-left-radius: 0px;
          border-top-right-radius: 0px; }
      .card:hover .card__side--front {
        transform: rotateY(0); }
      .card:__details {
        padding: 1 3rem; }
      .card__cta {
        position: relative;
        top: 0;
        left: 0;
        transform: translate(0);
        width: 100%;
        padding: 4rem 4rem 4rem 4rem; } }
    @media only screen and (hover: none) and (max-width: 700px) {
      .card__cta {
        padding: 2rem 2rem; } }
  @media only screen and (hover: none) {
      .card__btn-box {
        font-size: 4rem;
        margin-top: auto;
        margin-bottom: 0; } }
  @media only screen and (max-width: 450px) {
    .card {
      width: 35rem; } }
  @media only screen and (max-width: 360px) {
    .card {
      width: auto;
      box-shadow: none; } }

.icon-github {
  width: 3rem;
  height: 3rem;
  fill: #f5f5f5; }

.course-card {
  margin: 2rem auto 2rem;
  border-radius: 5px;
  padding: 4rem 2rem 4rem;
  max-width: 800px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.2s;
  font-size: 1.6rem;
  color: #343837; }
  .course-card__name {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    line-height: 2.5rem; }
  .course-card__author {
    font-size: 2rem;
    line-height: 2rem;
    margin-bottom: 2rem;
    text-transform: uppercase; }
  .course-card__description {
    font-size: 1.6rem;
    line-height: 2.5rem;
    margin-bottom: 2rem; }
  .course-card__certificate:link, .course-card__certificate:active, .course-card__certificate:visited {
    display: inline-block;
    margin-top: 1rem;
    text-decoration: none;
    color: royalblue; }

.subtitle {
  margin-bottom: 2rem;
  padding: 2rem;
  text-align: center;
  line-height: 3rem;
  font-size: 3rem;
  color: rgba(15, 115, 142, 0.8); }

.footer-navigation {
  margin-bottom: 2rem; }
  @media only screen and (max-width: 550px) {
    .footer-navigation {
      margin-bottom: 4rem; } }
  @media only screen and (max-width: 450px) {
    .footer-navigation {
      margin: 0;
      display: flex;
      flex-direction: column;
      margin-bottom: 3rem; } }
  .footer-navigation__links:link, .footer-navigation__links:active, .footer-navigation__links:visited {
    margin-left: -0.5rem;
    padding: 0.5rem 2rem;
    text-decoration: none;
    text-transform: uppercase;
    color: #f5f5f5cc;
    letter-spacing: 0.1rem;
    transition: all .2s; }
    .footer-navigation__links:link:not(:last-child), .footer-navigation__links:active:not(:last-child), .footer-navigation__links:visited:not(:last-child) {
      border-right: 1px solid #f5f5f5; }
      @media only screen and (max-width: 450px) {
        .footer-navigation__links:link:not(:last-child), .footer-navigation__links:active:not(:last-child), .footer-navigation__links:visited:not(:last-child) {
          border-right: none;
          padding-bottom: 1.5rem; } }
  .footer-navigation__links:hover {
    background-color: #f5f5f5;
    color: #343837; }

.main-button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between; }
  @media only screen and (max-width: 700px) {
    .main-button-container {
      align-items: center;
      justify-content: space-between; } }

.container-tag {
  height: 7rem;
  display: flex;
  justify-content: center;
  align-content: space-between;
  flex-wrap: wrap; }
  @media only screen and (max-width: 940px) {
    .container-tag {
      margin-bottom: 2rem; } }
  @media only screen and (max-width: 484px) {
    .container-tag {
      height: 11rem; } }
  @media only screen and (max-width: 341px) {
    .container-tag {
      height: 15rem; } }
  @media only screen and (max-width: 330px) {
    .container-tag {
      height: 19rem; } }

.portfolio-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(40rem, 1fr));
  column-gap: 3rem;
  row-gap: 7rem;
  justify-content: center;
  justify-items: center; }
  @media only screen and (hover: none) {
    .portfolio-container {
      row-gap: 5rem; } }
  @media only screen and (max-width: 360px) {
    .portfolio-container {
      row-gap: 0rem;
      margin-top: -3rem; } }

.portfolio-btn__container {
  display: flex;
  justify-content: center;
  margin-top: 15rem; }
  .portfolio-btn__container > *:not(:last-child) {
    margin-right: 15rem; }
  .portfolio-btn__container > * {
    color: #f5f5f5;
    font-size: 2rem;
    padding: 2rem 3rem;
    border-radius: 10px;
    outline: none;
    border: none;
    background-color: #0095dd;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.2s;
    cursor: pointer; }
    .portfolio-btn__container > *:hover {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      transform: translateY(-1px); }

.skew-container {
  transform: skewY(-4deg);
  margin: -7rem 0;
  padding: 20rem 0; }
  @media only screen and (max-width: 700px) {
    .skew-container {
      padding: 6rem 0; } }
  @media only screen and (max-width: 450px) {
    .skew-container {
      transform: skewY(0deg);
      margin: 0; } }
  @media only screen and (max-width: 360px) {
    .skew-container {
      padding: 3rem; } }
  .skew-container > * {
    transform: skewY(4deg); }
    @media only screen and (max-width: 450px) {
      .skew-container > * {
        transform: skewY(0deg); } }
