.card {

  // Functionality

  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 52rem;
  width: 40rem;

  &__side {
    height: 52rem;
    transition: all .8s ease;

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba($color-black, .15);

    @include media(400px) {
      border-radius: 0px;
    }

    &--front {
      background-color: $color-white;
    }

    &--back {
      transform: rotateY(-180deg);
      display: flex;
      justify-content: center;


      &-1 {
        background-color: $color-secondary-light;
      }

      &-2 {
        background-color: $color-primary-light;
      }

      &-3 {
        background-color: $color-tertiary-light;
      }

      &-4 {
        background-color: $color-secondary;
      }

      &-5 {
        background-color: $color-primary;
      }

      &-6 {
        background-color: $color-tertiary;
      }

      &-7 {
        background-color: $color-secondary-dark;
      }

      &-8 {
        background-color: $color-primary-dark;
      }

      &-9 {
        background-color: $color-tertiary-dark;
      }


    }

  }

  &:hover &__side--front {
    transform: rotateY(180deg);
  }

  &:hover &__side--back {
    transform: rotateY(0deg);
  }

  // Front Side Styling

  &__picture {
    background-size: cover;
    height: 23rem;
    background-blend-mode: screen;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    @include media(400px) {
      border-radius: 0px;
    }

    &--1 {
      background-image: linear-gradient(
        $color-secondary-dark, 
        $color-secondary-dark
      ),
      url(../../img/blog-pic.jpg);
    }

    &--argentours {
      background-image: linear-gradient(
        $color-primary-dark, 
        $color-primary-dark
      ),
      url(../../img/argentours-screenshot.png);

    }

    &--2 {
      background-image: linear-gradient(
        $color-primary-dark, 
        $color-primary-dark
      ),
      url(../../img/massage-pic.jpg);
    }

    &--3 {
      background-image: linear-gradient(
        $color-tertiary-light, 
        $color-tertiary-light
      ),
      url(../../img/friends-pic.jpg);
    }

    &--4 {
      background-image: linear-gradient(
        $color-secondary-dark, 
        $color-secondary-dark
      );
    }

    &--5 {
      background-image: linear-gradient(
        $color-primary-dark, 
        $color-primary-dark
      );
    }

    &--6 {
      background-image: linear-gradient(
        $color-tertiary-light, 
        $color-tertiary-light
      );
    }

    &--7 {
      background-image: linear-gradient(
        $color-secondary-dark, 
        $color-secondary-dark
      );
    }

    &--8 {
      background-image: linear-gradient(
        $color-primary-dark, 
        $color-primary-dark
      );
    }

    &--9 {
      background-image: linear-gradient(
        $color-tertiary-light, 
        $color-tertiary-light
      );
    }

  }

  &__heading {
    font-size: 2.8rem;
    font-weight: 300;
    line-height: 3.5rem;
    text-transform: uppercase;
    text-align: right;
    color: $color-white;
    position: absolute;
    top: 10rem;
    right: 2rem;
    width: 75%;
  }

  &__heading-span {
    padding: 1rem 1.5rem; 
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;

    &--1 {
      background-color: $color-secondary-light;
    }

    &--2 {
      background-color: $color-primary-light;
    }

    &--3 {
      background-color: $color-tertiary-light;
    }

    &-4 {
      background-color: $color-secondary;
    }

    &-5 {
      background-color: $color-primary;
    }

    &-6 {
      background-color: $color-tertiary;
    }

    &-7 {
      background-color: $color-secondary-dark;
    }

    &-8 {
      background-color: $color-primary-dark;
    }

    &-9 {
      background-color: $color-tertiary-dark;
    }
  }

  &__details {
    padding: 3rem;

    p {
      width: 80%;
      margin: 0 auto;
      font-size: 2rem;
      line-height: 2rem;
    }
  }

  // Front side Styling

  &__cta {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    width: 90%;
    
    ul {
      list-style: none;
      width: 80%;
      margin: 2rem auto 0;

      li {
        text-align: center;
        font-size: 2rem;
        color: $color-white;
        padding: 1rem;
        line-height: 2.5rem;

        &:not(:last-child) {
          border-bottom: 1px solid $color-white;
        }
      }
    }

    @include media(360px) {
      border-bottom: 2px solid $color-black;
    }
    
  }

  &__btn-box {
    display: flex;
    margin: auto 0 2rem;

    & > * {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 1.5rem;
      font-size: 2.5rem;
      cursor: pointer;
      text-transform: lowercase;
      text-decoration: none;
      box-shadow: $shadow;
      transition: all 0.2s;

      &:hover {
        transform: translateY(-1px);
        box-shadow: $shadow-hover;
      }

      &:first-child {
        width: 100%;
        height: 100%;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
      }

      &:last-child {
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
      }
    }

    @include media(360px) {
      margin: auto 2rem 2rem 2rem;
    }

  }

  &__btn-website {
    background-color: $color-white;
    color: $color-black;

  }

  &__btn-code {
    background-color: $color-black;
    color: $color-white;
  }

  // This is the media query for making it not rotate
  @media only screen and (hover: none) {
    height: auto;
    border-radius: 3px;
    background-color: $color-white;
    box-shadow: 0 1.5rem 4rem rgba($color-black, .15);

    &__side {
      // height: auto;
      position: relative;
      box-shadow: none;

      &--back {
        transform: rotateY(0);
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
      }
    }

    &:hover &__side--front {
      transform: rotateY(0);
    }
    &:__details {
      padding: 1 3rem;
    }

    // Front side Styling

    &__cta {
      position: relative;
      top: 0;
      left: 0;
      transform: translate(0);
      width: 100%;
      padding: 4rem 4rem 4rem 4rem;

      @media only screen and (max-width: 700px) {
        padding: 2rem 2rem;
      }

    }

    &__btn-box {
      // margin-bottom: 3rem;
      font-size: 4rem;
      // margin: 0;
      margin-top: auto;
      margin-bottom: 0;

      // & > * {
        // display: inline-block;
        // width: 30%;
      // }

    }

    // &__btn-website {
    //   font-size: 4rem;
    // }

    // &__btn-code {
    //   font-size: 4rem;
    // }
    
  }

  @include media(450px) {
    width: 35rem;
  }

  @include media(360px) {
    width: auto;
    box-shadow: none;
  }

}

.icon-github {
  width: 3rem;
  height: 3rem;
  fill: $color-white;
}

////////////////////////

.course-card {
  margin: 2rem auto 2rem;
  border-radius: 5px;
  padding: 4rem 2rem 4rem;
  max-width: 800px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.2s;
  font-size: 1.6rem;
  color: $color-gray;

  &__name {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    line-height: 2.5rem;
  }

  &__author {
    font-size: 2rem;
    line-height: 2rem;
    margin-bottom: 2rem;
    text-transform: uppercase;
  }

  &__description {
    font-size: 1.6rem;
    line-height: 2.5rem;
    margin-bottom: 2rem;
  }

  &__certificate {
    &:link,
    &:active,
    &:visited {
      display: inline-block;
      margin-top: 1rem;
      text-decoration: none;
      color: royalblue;
    }
  }
}