.footer {
  font-size: 1.8rem;
  text-align: center;
  background-color: $color-gray-light;
  height: 45rem;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding-top: 17rem;
  display: flex;
  justify-content: center;
  align-items: center;

  @include media(1100px) {
    height: 35rem;
    padding-top: 15rem;
  }

  @include media(550px) {
    height: 33rem;
  }

  @include media(450px) {
    min-height: 16rem;
    padding: 2rem;
    line-height: 2.2rem;
  }

  @include media(360px) {
    padding: 0;
  }

  @include media(300px) {
    font-size: 1.5rem;
  }

  &-layout {
    height: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    @include media(550px) {
      height: auto;
    }

  }


  &__contact-info {
    margin-bottom: 4rem;

    @include media(550px) {
      margin-bottom: 3rem;
    }

    @include media(450px) {
      margin-bottom: 0;
    }
  }

  &__copyright {
    letter-spacing: 0.1rem;
    word-spacing: 0.1rem;
    color: $color-white-t-50;
  }

  &__email:link,
  &__email:visited {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    color: #84a9ac;
    letter-spacing: 0.2rem;

    @include media(550px) {
      margin-bottom: 2rem;
    }
  }

}

.footer-small {
  font-size: 1.8rem;
  text-align: center;
  background-color: #555;
  height: 25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}