.navigation-header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $color-primary-dark;

  a {
    &:link,
    &:active,
    &:visited {
      padding: 9px 2rem;
      text-decoration: none;
      text-transform: lowercase;
      font-size: 2rem;
      color: $color-white;
      transition: all 0.2s;
    }

    &:hover {
      background-color: $color-gray-light;
    }
  }
}

.footer-navigation {
  margin-bottom: 2rem;
  
  &__links {
    &:link,
    &:active,
    &:visited {
      margin-left: -0.5rem;
      padding: 0.5rem 2rem;
      text-decoration: none;
      text-transform: uppercase;
      color: $color-white-t-80;
      letter-spacing: 0.1rem;
      transition: all .2s;

      &:not(:last-child) {
        border-right: 1px solid $color-white;
      }
    }

    &:hover {
      background-color: $color-white;
      color: $color-gray;
    }
  }
}
