
.footer-navigation {
  margin-bottom: 2rem;
  
  &__links {
    &:link,
    &:active,
    &:visited {
      margin-left: -0.5rem;
      padding: 0.5rem 2rem;
      text-decoration: none;
      text-transform: uppercase;
      color: $color-white-t-80;
      letter-spacing: 0.1rem;
      transition: all .2s;

      &:not(:last-child) {
        border-right: 1px solid $color-white;
      }
    }

    &:hover {
      background-color: $color-white;
      color: $color-gray;
    }
  }
}
