.main-portfolio {
  background-color: whitesmoke;
  // height: 50rem;
  transform: skewY(-4deg);
  margin-top: -70px;
  margin-bottom: -70px;

}

.portfolio-card-container {
  display: flex;
  justify-content: space-evenly;
  transform: skewY(4deg);
  padding: 10rem 0;

  & .round-button {
    text-align: center;
    padding: 3rem;
    line-height: 4rem;
    letter-spacing: 2px;
    font-weight: 700;

    &--1 {
      margin-top: 5rem;
      background: linear-gradient(
        to right, 
        rgba(255,255,255,0.5),
      rgba(255,255,255,0.5)), 
      url(../../img/blog-pic.jpg);
      background-size: cover;
      background-position: center;
      color: #343837;
    }

    &--2 {
      background: linear-gradient(
        to right, 
        rgba(255,255,255,0.5),
      rgba(255,255,255,0.5)), 
      url(../../img/massage-pic.jpg);
      background-size: cover;
      background-position: center;
      color: #0f9b8e;

    }

    &--3 {
      margin-top: -5rem;
      background: linear-gradient(
        to right, 
        rgba(255,255,255,0.5),
      rgba(255,255,255,0.5)), 
      url(../../img/friends-pic.jpg);
      background-size: cover;
      background-position: center;
      color: #03719c;
    }
  }
}