.main-button-container {
  display: flex;
  justify-content: space-evenly;

  @include media(700px) {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 65rem;
  }

  @include media(360px) {
    height: 50rem;
  }
  
  @include media(300px) {
    height: 40rem;
  }
}

.container-tag {
  height: 7rem;
  display: flex;
  justify-content: center;
  align-content: space-between;
  flex-wrap: wrap;

  @include media(940px) {
    margin-bottom: 2rem;
  }

  @include media(484px) {
    height: 11rem;
  }

  @include media(341px) {
    height: 15rem;
  }

  @include media(330px) {
    height: 19rem;
  }
}

.portfolio-container {
  display: grid;
  // grid-template-columns: repeat(3, 40rem);
  grid-template-columns: repeat(auto-fill, minmax(40rem, 1fr));
  column-gap: 3rem;
  row-gap: 7rem;
  justify-content: center;
  justify-items: center;

  @media only screen and (hover: none) {
    row-gap: 5rem;
  }

  @include media(360px) {
    row-gap: 0rem;
    margin-top: -3rem;
  }

}

.portfolio-btn {

  &__container {

    display: flex;
    justify-content: center;
    margin-top: 15rem;

    & > *:not(:last-child) {
      margin-right: 15rem;
    }

    & > * {
      color: $color-white;
      font-size: 2rem;
      padding: 2rem 3rem;
      border-radius: 10px;
      outline: none;
      border: none;
      background-color: $color-secondary;
      box-shadow: $shadow;
      transition: all 0.2s;
      cursor: pointer;

      &:hover {
        box-shadow: $shadow-hover;
        transform: translateY(-1px);
      }
    }

  }
}